.dark {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: aliceblue;
}

.dark-text {
    color: aliceblue;
}

.red {
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    color: #260246;
}

.red-text {
    color: aqua;
}

.some {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    color: #1b1846;

}

.some-text {
    color: darkslateblue;
}

.custom {
    background-blend-mode: screen;
    background:
            linear-gradient(limegreen, transparent),
            linear-gradient(90deg, skyblue, transparent),
            linear-gradient(-90deg, coral, transparent);
    color: #3f0000;
}
