.someClass {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #afc7b9;

}

.all {
    background-color: #b69999;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
}

.high {
    background-color: #ec5858;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.middle {
    background-color: #eaea6a;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.low {
    background-color: #9cc568;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.buttons {

}

.box {
    display: flex;
}

.buttonsDel {
    justify-content: space-around;

}

.buttonDelete {
    background-color: #b04545;
    cursor: pointer;
    border-radius: 5px;

}


.tasks {


}